<div class="container">

  <h1>Invoice {{invoice.id}}</h1>

  <form class="form-horizontal" style="margin: 0px;">
    <fieldset>

      <div class="control-group">
        <label class="control-label" for="invoiceID">Invoice ID</label>
        <div class="controls">
          <input id="invoiceID" ng-model="invoice.id" name="invoiceID" class="input-xlarge" type="text" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoiceActive">Active</label>
        <div class="controls">
          <input id="invoiceActive" ng-model="invoice.active" name="invoiceActive" class="input-xlarge" type="checkbox" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoice.DateOpened">Date opened</label>
        <div class="controls">
          <input id="invoice.DateOpened" ng-model="invoice.date_opened" name="invoice.DateOpened" class="input-xlarge" type="text" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoiceCompany">Company</label>
        <div class="controls">
          <select data-ng-model="invoice.owner.id" data-ng-options="customer.id as customer.name for customer in customers" class="input-xlarge" disabled="disabled"></select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoiceNotes">Notes</label>
        <div class="controls">
          <textarea id="invoiceNotes" ng-model="invoice.notes" name="invoiceNotes" class="input-xlarge" disabled="disabled"></textarea>
        </div>
      </div>

    </fieldset>
  </form>

  <a role="button" class="btn" ng-click="populateInvoice(invoice.id)">Edit invoice</a>
  <a role="button" class="btn" ng-click="emptyPostInvoice(invoice.id)" ng-show="!invoice.posted">Post invoice</a>
  <a role="button" class="btn" ng-click="emptyPayInvoice(invoice.id)" ng-show="invoice.posted && !invoice.paid">Pay invoice</a>

  <h2>Invoice entries</h2>

  <table class="table">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Income account</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Discount type</th>
      <th>Discount</th>
      <th>Subtotal</th>
      <th></th>
      <th></th>
    </tr>
    <tr ng-repeat="entry in invoice.entries">
      <td>{{entry.formatted_date}}</td>
      <td>{{entry.description}}</td>
      <td>{{entry.inv_account.name}}</td>
      <td>{{entry.quantity}}</td>
      <td>{{entry.formatted_inv_price}}</td>
      <td>{{entry.formatted_discount_type}}</td>
      <td>{{entry.formatted_discount}}</td>
      <td>{{entry.formatted_total_inc_discount}}</td>
      <td><a ng-click="populateEntry(entry.guid)" ng-show="!invoice.posted">edit</a></td>
      <td><a ng-click="deleteEntry(entry.guid)" ng-show="!invoice.posted">delete</a></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Tax</td>
      <td>{{invoice.formatted_tax}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total</td>
      <td>{{invoice.formatted_total}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <a role="button" style="margin-bottom: 25px;" ng-show="!invoice.posted" class="btn" ng-click="emptyEntry()">Add entry</a>

</div>
