<div class="container">

  <h1>Invoice {{invoice.id}}</h1>

  <form class="form-horizontal" style="margin: 0px;">
    <fieldset>

      <div class="control-group">
        <label class="control-label" for="invoiceID">Invoice ID</label>
        <div class="controls">
          <input id="invoiceID" ng-model="invoice.id" name="invoiceID" class="input-xlarge" type="text" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoiceActive">Active</label>
        <div class="controls">
          <input id="invoiceActive" ng-model="invoice.active" name="invoiceActive" class="input-xlarge" type="checkbox" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoice.DateOpened">Date opened</label>
        <div class="controls">
          <input id="invoice.DateOpened" ng-model="invoice.date_opened" name="invoice.DateOpened" class="input-xlarge" type="text" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoiceCompany">Company</label>
        <div class="controls">
          <select data-ng-model="invoice.owner.id" data-ng-options="customer.id as customer.name for customer in customers" class="input-xlarge" disabled="disabled"></select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoiceNotes">Notes</label>
        <div class="controls">
          <textarea id="invoiceNotes" ng-model="invoice.notes" name="invoiceNotes" class="input-xlarge" disabled="disabled"></textarea>
        </div>
      </div>

    </fieldset>
  </form>

  <a role="button" class="btn" ng-click="populateInvoice(invoice.id)" ng-show="!invoice.posted">Edit invoice</a>

  <div id="invoiceForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">{{invoiceTitle}}</h3>
    </div>
    <div class="modal-body" style="max-height: 800px;">

    <div id="invoiceAlert" class="alert  alert-error" style="display: none;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error</strong> {{invoiceError}}
    </div>

      <form class="form-horizontal" style="margin: 0px;">
          <fieldset>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="invoiceId">Invoice ID</label>
              <div class="controls">
                <input id="invoiceId" ng-model="invoice.id" name="invoiceId" class="input-xlarge" type="text" disabled="disabled">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="invoiceDateOpened">Date opened</label>
              <div class="controls">
                <input id="invoiceDateOpened" ng-model="invoice.date_opened" name="invoiceDateOpened" class="input-xlarge" type="text">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="invoiceCompany">Company</label>
              <div class="controls">
                <select data-ng-model="invoice.owner.id" data-ng-options="customer.id as customer.name for customer in customers" class="input-xlarge"></select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="invoiceNotes">Notes</label>
              <div class="controls">
                <textarea id="invoiceNotes" ng-model="invoice.notes" name="invoiceNotes" class="input-xlarge"></textarea>
              </div>
            </div>

          </fieldset>
        </form>
      
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="saveInvoice()">Save changes</button>
    </div>
  </div>

  <h2>Invoice entries</h2>

  <table class="table">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Income account</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Discount type</th>
      <th>Discount</th>
      <th>Subtotal</th>
      <th></th>
      <th></th>
    </tr>
    <tr ng-repeat="entry in invoice.entries">
      <td>{{entry.date}}</td>
      <td>{{entry.description}}</td>
      <td>{{entry.inv_account.name}}</td>
      <td>{{entry.quantity}}</td>
      <td>{{entry.inv_price}}</td>
      <td>{{entry.discounted_type}}</td>
      <td>{{entry.discount}}</td>
      <td>{{entry.total_inc_discount}}</td>
      <td><a ng-click="populateEntry(entry.guid)" ng-show="!invoice.posted">edit</a></td>
      <td><a ng-click="deleteEntry(entry.guid)" ng-show="!invoice.posted">delete</a></td>
    </tr>
  </table>

  <div ng-show="!invoice.posted">
    <a role="button" class="btn" ng-if="invoice.posted" ng-click="emptyEntry()">Add entry</a>
  </div>

  <div id="entryForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">{{entryTitle}}</h3>
    </div>
    <div class="modal-body" style="max-height: 800px;">

    <div id="entryAlert" class="alert  alert-error" style="display: none;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error</strong> {{entryError}}
    </div>

      <form class="form-horizontal" style="margin: 0px;">
        <fieldset>

          <div class="control-group">
            <label class="control-label" for="entryDate">Date</label>
            <div class="controls">
              <input id="entryDate" ng-model="entry.date" name="entryDate" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="entryDescription">Description</label>
            <div class="controls">
              <input id="entryDescription" ng-model="entry.description" name="entryDescription" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="entryAccount">Account</label>
            <div class="controls">
              <select data-ng-model="entry.inv_account.guid" data-ng-options="account.guid as account.name for account in accounts" class="input-xlarge"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="entryQuantity">Quantity</label>
            <div class="controls">
              <input id="entryQuantity" ng-model="entry.quantity" name="entryQuantity" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="entryPrice">Price</label>
            <div class="controls">
              <input id="entryPrice" ng-model="entry.inv_price" name="entryPrice" class="input-xlarge" type="text">
            </div>
          </div>

        </fieldset>
      </form>
      
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="saveEntry()">Save changes</button>
    </div>
  </div>

  <!-- <div style="float: right;">
    <p>Studential Ltd.<br />
    Suite 14232<br />
    2nd Floor<br />
    145-157 St John Street<br />
    London<br />
    EC1V 4PY</p>
  </div>

  <p style="font-weight: bold;">Invoice #{{invoice.id}}</p>

  <p>Invoice Date: {{invoice.date_opened}}<br />
  Due Date: {{invoice.date_due}}</p>

  <p>
    {{invoice.owner.name}}<br />
    {{invoice.owner.line_1}}<br />
    {{invoice.owner.line_2}}<br />
    {{invoice.owner.line_3}}<br />
    {{invoice.owner.line_4}}<br />
  </p>

  <br />
  <br />

  <table cellspacing="1" cellpadding="2" style="border-collapse:collapse; width: 100%">
    <tr>
      <td style="border: 1px solid #000000; width: 10%;">Date</td>
      <td style="border: 1px solid #000000;">Description</td>
      <td style="border: 1px solid #000000; width: 10%; text-align: right;">Quantity</td>
      <td style="border: 1px solid #000000; width: 10%; text-align: right;">Unit Price</td>
      <td style="border: 1px solid #000000; width: 10%; text-align: right;">Discount</td>
      <td style="border: 1px solid #000000; width: 10%; text-align: right;">Total</td>
    </tr>
    <tr ng-repeat="entry in invoice.entries">
      <td style="border: 1px solid #000000">{{entry.date}}</td>
      <td style="border: 1px solid #000000">{{entry.description}}</td>
      <td style="border: 1px solid #000000; text-align: right;">{{entry.quantity}}</td>
      <td style="border: 1px solid #000000; text-align: right;">&pound;{{entry.inv_price}}</td>
      <td style="border: 1px solid #000000; text-align: right;">&pound;{{entry.discount}}</td>
      <!-- does not take into account discounts --> <!-- 
      <td style="border: 1px solid #000000; text-align: right;">&pound;{{entry.total_inc_discount}}</td>
    </tr>
    <tr>
      <td colspan="5" style="border: 1px solid #000000">Subtotal</td>
      <td style="border: 1px solid #000000; text-align: right;">&pound;{{invoice.total}}</td>
    </tr>
    <tr>
      <td colspan="5" style="border: 1px solid #000000">Amount Due</td>
      <td style="border: 1px solid #000000; text-align: right;">&pound;{{invoice.total}}</td>
    </tr>
  </table>

  <br />
  <br />
  <br />
  <br />

  <span ng-bind-html-unsafe="invoice.notes"></span>

  <br /><br />

  <p>Payment should be made via PayPal to payments@studential.com or by bank transfer using the following
  details:</p>

  <p>Bank: Natwest<br />
  Account: 24712779<br />
  Sort code: 54-21-23</p>

  <p>Studential Ltd. is a Company registered in England and Wales. Number 7346594</p>

  <br />
  <p><a href="/pdf.php?id={{invoice.id}}">PDF version</a> -->

</div>