<div class="container">

  <h1>Invoice {{invoice.id}}</h1>

  <form class="form-horizontal" style="margin: 0px;">

    <div class="form-group">
      <label class="col-sm-2 control-label" for="invoiceID">Invoice ID</label>
      <div class="col-sm-10">
        <input id="invoiceID" ng-model="invoice.id" name="invoiceID" class="form-control" type="text" disabled="disabled">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="invoiceActive">Active</label>
      <div class="col-sm-10">
        <input id="invoiceActive" ng-model="invoice.active" name="invoiceActive" class="" type="checkbox" disabled="disabled">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="invoice.DateOpened">Date opened</label>
      <div class="col-sm-10">
        <input id="invoice.DateOpened" ng-model="invoice.date_opened" name="invoice.DateOpened" class="form-control" type="text" disabled="disabled">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="invoiceCompany">Company</label>
      <div class="col-sm-10">
        <select2 ng-model="invoice.owner.id" s2-options="customer.id as customer.name for customer in customers" class="form-control" disabled="disabled"></select2>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="invoiceNotes">Notes</label>
      <div class="col-sm-10">
        <textarea id="invoiceNotes" ng-model="invoice.notes" name="invoiceNotes" class="form-control" disabled="disabled"></textarea>
      </div>
    </div>

  </form>

  <a role="button" class="btn btn-default" href="#/invoices/{{invoice.id}}/print">Print invoice</a>
  <a role="button" class="btn btn-default" ng-click="populateInvoice(invoice.id)">Edit invoice</a>
  <a role="button" class="btn btn-default" ng-click="emptyPostInvoice(invoice.id)" ng-show="!invoice.posted">Post invoice</a>
  <a role="button" class="btn btn-default" ng-click="emptyPayInvoice(invoice.id)" ng-show="invoice.posted && !invoice.paid">Pay invoice</a>

  <h2>Invoice entries</h2>

  <table class="table">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Income account</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Discount type</th>
      <th>Discount</th>
      <th>Subtotal</th>
      <th></th>
      <th></th>
    </tr>
    <tr ng-repeat="entry in invoice.entries">
      <td>{{entry.formatted_date}}</td>
      <td>{{entry.description}}</td>
      <td>{{entry.inv_account.name}}</td>
      <td>{{entry.quantity}}</td>
      <td>{{entry.formatted_inv_price}}</td>
      <td>{{entry.formatted_discount_type}}</td>
      <td>{{entry.formatted_discount}}</td>
      <td>{{entry.formatted_total_inc_discount}}</td>
      <td><a ng-click="populateEntry(entry.guid)" ng-show="!invoice.posted">edit</a></td>
      <td><a ng-click="deleteEntry(entry.guid)" ng-show="!invoice.posted">delete</a></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Tax</td>
      <td>{{invoice.formatted_tax}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total</td>
      <td>{{invoice.formatted_total}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <a role="button" style="margin-bottom: 25px;" ng-show="!invoice.posted" class="btn btn-default" ng-click="emptyEntry()">Add entry</a>

</div>
