<div class="container">
  <h1>Invoices</h1>

  <form>
    <fieldset>
      <label>Search</label>
      <input type="text" placeholder="Invoice ID or customer" ng-model="query">
      <!-- <input type="hidden" value="id" ng-init="orderProp='id'" ng-model="orderProp"> -->

      <label>Date type</label>
      <select ng-model="date_type" ng-change="change()">
        <option value="opened">Date opened</option>
        <option value="due">Date due</option>
        <option value="posted">Date posted</option>
      </select>

      <label>Date from</label>
      <input id="invoiceDateFrom" type="text" placeholder="" ng-model="date_from" ng-change="change()">

      <label>Date to</label>
      <input id="invoiceDateTo" type="text" placeholder="" ng-model="date_to" ng-change="change()">

      <label>Paid</label>
      <select ng-model="is_paid" ng-change="change()">
        <option value=""></option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>

      <label>Active</label>
      <select ng-model="is_active" ng-change="change()">
        <option value=""></option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>

    </fieldset>
  </form>

  <a style="margin-bottom: 25px;" role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

  <div> 
    <div ng-show="!invoices" class="loader">Loading...</div>
    <table ng-show="invoices" class="table">
      <tr>
        <th>ID</th>
        <th>Opened</th>
        <th>Due</th>
        <th>Customer</th>
        <th>Posted</th>
        <th>Total</th>
        <th>Paid</th>
      </tr>
      <tr ng-repeat="invoice in invoices | filter:query | orderBy:orderProp">
        <td><a href="#/invoices/{{invoice.id}}">{{invoice.id}}</a></td>
        <td>{{invoice.date_opened}}</a></td>
        <td>{{invoice.date_due}}</td>
        <td><a href="#/customers/{{invoice.owner.id}}">{{invoice.owner.name}}</a></td>
        <td>{{invoice.date_posted}}</td>
        <td>{{invoice.formatted_total}}</td>
        <td>
          <span ng-show="invoice.paid">Yes</span>
          <span ng-show="!invoice.paid">No</span>
        </td>
      </tr>
    </table>
  </div>

  <a style="margin-bottom: 25px;" role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

  <!-- TODO: These forms form is duplicated in customers/detail.html -->
  <div id="invoiceForm" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">{{invoiceTitle}}</h3>
    </div>
    
    <div class="modal-body">

      <div id="invoiceAlert" class="alert  alert-error" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error</strong> {{invoiceError}}
      </div>

      <form class="form-horizontal" style="margin: 0px;">
        <fieldset>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="invoiceId">Invoice ID</label>
            <div class="controls">
              <input id="invoiceId" ng-model="invoice.id" name="invoiceId" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceDateOpened">Date opened</label>
            <div class="controls">
              <input id="invoiceDateOpened" ng-model="invoice.date_opened" name="invoiceDateOpened" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceCompany">Company</label>
            <div class="controls">
              <select data-ng-model="invoice.customer_id" data-ng-options="customer.id as customer.name for customer in customers" class="input-xlarge"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceNotes">Notes</label>
            <div class="controls">
              <textarea id="invoiceNotes" ng-model="invoice.notes" name="invoiceNotes" class="input-xlarge"></textarea>
            </div>
          </div>

        </fieldset>
      </form>
      
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="saveInvoice()">Save changes</button>
    </div>
  </div>

  <div id="invoicePostForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Post invoice</h3>
    </div>
    <div class="modal-body">

    <div id="invoicePostAlert" class="alert  alert-error" style="display: none;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error</strong> {{invoiceError}}
    </div>

      <form class="form-horizontal" style="margin: 0px;">
        <fieldset>

          <div class="control-group">
            <label class="control-label" for="invoiceDatePosted">Date posted</label>
            <div class="controls">
              <input id="invoiceDatePosted" ng-model="invoice.date_posted" name="invoiceDatePosted" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceDateDue">Date due</label>
            <div class="controls">
              <input id="invoiceDateDue" ng-model="invoice.date_due" name="invoiceDateDue" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceAccount">Posted account</label>
            <div class="controls">
              <select data-ng-model="invoice.posted_account" data-ng-options="account.guid as account.name for account in accounts" class="input-xlarge"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoicePostedMemo">Memo</label>
            <div class="controls">
              <textarea id="invoicePostedMemo" ng-model="invoice.posted_memo" name="invoicePostedMemo" class="input-xlarge"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceAccumulatesSplits">Accumulates splits</label>
            <div class="controls">
              <input id="invoiceAccumulatesSplits" ng-model="invoice.posted_accumulatesplits" name="invoiceAccumulatesSplits" class="input-xlarge" type="checkbox">
            </div>
          </div>

        </fieldset>
      </form>
      
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="postInvoice()">Save changes</button>
    </div>
  </div>

  <div id="invoicePayForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Pay invoice</h3>
    </div>
    <div class="modal-body">

    <div id="invoicePayAlert" class="alert  alert-error" style="display: none;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error</strong> {{invoiceError}}
    </div>

      <form class="form-horizontal" style="margin: 0px;">
        <fieldset>

          <div class="control-group">
            <label class="control-label" for="invoiceDatePaid">Date</label>
            <div class="controls">
              <input id="invoiceDatePaid" ng-model="invoice.date_paid" name="invoiceDatePaid" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="entryAccount">Post to account</label>
            <div class="controls">
              <select data-ng-model="invoice.post_account" data-ng-options="account.guid as account.name for account in accounts" class="input-xlarge"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="entryAccount">Transfer account</label>
            <div class="controls">
              <select data-ng-model="invoice.transfer_account" data-ng-options="account.guid as account.name for account in transferAccounts" class="input-xlarge"></select>
            </div>
          </div>

          <p>More bits here</p>

        </fieldset>
      </form>
      
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="payInvoice()">Save changes</button>
    </div>
  </div>

</div>