<div class="container">
  <h1>Invoices</h1>

  <form>
    <fieldset>
      <label>Search</label>
      <input type="text" placeholder="Invoice ID or customer" ng-model="query">

      <label>Date type</label>
      <select ng-model="date_type" ng-change="change()">
        <option value="opened">Date opened</option>
        <option value="due">Date due</option>
        <option value="posted">Date posted</option>
      </select>

      <label>Date from</label>
      <input id="invoiceDateFrom" type="text" placeholder="" ng-model="date_from" ng-change="change()">

      <label>Date to</label>
      <input id="invoiceDateTo" type="text" placeholder="" ng-model="date_to" ng-change="change()">

      <label>Posted</label>
      <select ng-model="is_posted" ng-change="change()">
        <option value=""></option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>

      <label>Paid</label>
      <select ng-model="is_paid" ng-change="change()">
        <option value=""></option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>

      <label>Active</label>
      <select ng-model="is_active" ng-change="change()">
        <option value=""></option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>

    </fieldset>
  </form>

  <a style="margin-bottom: 25px;" role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

  <div> 
    <div ng-show="!invoices" class="loader">Loading...</div>
    <table ng-show="invoices" class="table">
      <tr>
        <th ng-click="sortBy('id')">ID</th>
        <th ng-click="sortBy('date_opened')">Opened</th>
        <th ng-click="sortBy('date_due')">Due</th>
        <th ng-click="sortBy('owner.name')">Customer</th>
        <th ng-click="sortBy('date_posted')">Posted</th>
        <th ng-click="sortBy('total')">Total</th>
        <th ng-click="sortBy('paid')">Paid</th>
        <th></th>
      </tr>
      <tr ng-repeat="invoice in invoices | filter:query | orderBy:orderProp:reverseProp">
        <td><a href="#/invoices/{{invoice.id}}">{{invoice.id}}</a></td>
        <td>{{invoice.formatted_date_opened}}</a></td>
        <td>{{invoice.formatted_date_due}}</td>
        <td><a href="#/customers/{{invoice.owner.id}}">{{invoice.owner.name}}</a></td>
        <td>{{invoice.formatted_date_posted}}</td>
        <td>{{invoice.formatted_total}}</td>
        <td>
          <span ng-show="invoice.paid">Yes</span>
          <span ng-show="!invoice.paid">No</span>
        </td>
        <td>
        <span ng-switch on="invoice.posted">
            <span ng-switch-when="false">
                <a ng-click="emptyPostInvoice(invoice.id)">post</a>
            </span>
            <span ng-switch-when="true">
                <a ng-click="emptyUnpostInvoice(invoice.id)">unpost</a>
            </span>
        </span>
        <span ng-switch on="invoice.paid">
            <span ng-switch-when="false">
                <a ng-click="emptyPayInvoice(invoice.id)">pay</a>
            </span>
        </span>
      </td>
      </tr>
    </table>
  </div>

  <a style="margin-bottom: 25px;" role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

</div>

<div ng-include src="'partials/invoices/fragments/form.html'"></div>
<div ng-include src="'partials/invoices/fragments/postform.html'"></div>
<div ng-include src="'partials/invoices/fragments/unpostform.html'"></div>
<div ng-include src="'partials/invoices/fragments/payform.html'"></div>