<style type="text/css">
  .print-invoice-table h3 { font-family: Ubuntu, Sans-Serif; font-size: 15pt; font-weight: bold;  }
  .print-invoice-table a { font-family: Ubuntu, Sans-Serif; font-size: 10pt; font-style: italic;  }
  .print-invoice-table body, p, table, tr, td { vertical-align: top; font-family: Ubuntu, Sans-Serif; font-size: 10pt;  }
  .print-invoice-table tr.alternate-row { background: #ffffff }
  .print-invoice-table tr { page-break-inside: avoid !important;}
  .print-invoice-table html, body { height: 100vh; margin: 0; }
  .print-invoice-table td, th { border-color: grey }
  .print-invoice-table th.column-heading-left { text-align: left; font-family: Ubuntu, Sans-Serif; font-size: 10pt;  }
  .print-invoice-table th.column-heading-center { text-align: center; font-family: Ubuntu, Sans-Serif; font-size: 10pt;  }
  .print-invoice-table th.column-heading-right { text-align: right; font-family: Ubuntu, Sans-Serif; font-size: 10pt;  }
  .print-invoice-table td.neg { color: red;  }
  .print-invoice-table td.number-cell, td.total-number-cell { text-align: right; white-space: nowrap; }
  .print-invoice-table td.date-cell { white-space: nowrap; }
  .print-invoice-table td.anchor-cell { white-space: nowrap; font-family: Ubuntu, Sans-Serif; font-size: 10pt;  }
  .print-invoice-table td.number-cell { font-family: Ubuntu, Sans-Serif; font-size: 10pt;  }
  .print-invoice-table td.number-header { text-align: right; font-family: Ubuntu, Sans-Serif; font-size: 10pt;  }
  .print-invoice-table td.text-cell { font-family: Ubuntu, Sans-Serif; font-size: 10pt;  }
  .print-invoice-table td.total-number-cell { font-family: Ubuntu, Sans-Serif; font-size: 12pt; font-weight: bold;  }
  .print-invoice-table td.total-label-cell { font-family: Ubuntu, Sans-Serif; font-size: 12pt; font-weight: bold;  }
  .print-invoice-table td.centered-label-cell { text-align: center; font-family: Ubuntu, Sans-Serif; font-size: 12pt; font-weight: bold;  }

  .print-invoice-table .invoice-title { font-family: Ubuntu, Sans-Serif; font-size: 15pt; font-weight: bold; }

  /* advanced users only */
  .print-invoice-table .div-align-right { float: right; }
  .print-invoice-table .div-align-right .maybe-align-right { text-align: right }
  .print-invoice-table .entries-table * { border-width: 1px; border-style:solid; border-collapse: collapse}
  .print-invoice-table .entries-table > table { width: 100% }
  .print-invoice-table .company-table > table * { padding: 0px; }
  .print-invoice-table .client-table > table * { padding: 0px; }
  .print-invoice-table .invoice-details-table > table * { padding: 0px; }
  @media print {
    .navbar-inner { display: none; }
    .print-invoice-table > table { width: 100%; }
  }
</style>
<div class="print-invoice-table">
  <table cellspacing="0" border="0" cellpadding="4">
    <tbody>
      <tr>
        <td rowspan="1" colspan="2">
          <div class="invoice-title">Invoice #{{invoice.id}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <div class="invoice-details-table">
              <table cellspacing="0" border="0" cellpadding="4">
                <tbody>
                  <tr>
                    <td>Date:</td>
                    <td>
                      <div class="div-align-right">{{invoice.formatted_date_opened}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Due Date:</td>
                    <td>
                      <div class="div-align-right">{{invoice.formatted_date_due}}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
        <td>
          <div class="div-align-right">
            <div class="company-table">
              <table cellspacing="0" border="0" cellpadding="4">
                <tbody>
                  <tr>
                    <td>
                      <div class="maybe-align-right company-name">{{storage.companyName}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="maybe-align-right company-address">
                        {{storage.companyAddressLine1}}<br>
                        {{storage.companyAddressLine2}}<br>
                        {{storage.companyAddressLine3}}<br>
                        {{storage.companyAddressLine4}}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="client-table">
            <table cellspacing="0" border="0" cellpadding="4">
              <tbody>
                <tr>
                  <td>
                    <div class="maybe-align-right client-name">{{invoice.owner.name}}</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="maybe-align-right client-address">
                      {{invoice.owner.address.name}}<br>
                      {{invoice.owner.address.line_1}}<br>
                      {{invoice.owner.address.line_2}}<br>
                      {{invoice.owner.address.line_3}}<br>
                      {{invoice.owner.address.line_4}}<br>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td>
          
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          <div class="div-align-right">
            <div class="invoice-print-date"><!-- unused --></div>
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan="1" colspan="2">
          <div class="entries-table">
            <table cellspacing="0" border="0" cellpadding="4">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Discount</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="entry in invoice.entries">
                  <td>{{entry.formatted_date}}</td>
                  <td>{{entry.description}}</td>
                  <td class="number-cell" rowspan="1" colspan="1">{{entry.quantity}}</td>
                  <td class="number-cell" rowspan="1" colspan="1">{{entry.formatted_inv_price}}</td>
                  <td class="number-cell" rowspan="1" colspan="1">{{entry.formatted_discount}}</td>
                  <!-- discount type? -->
                  <td class="number-cell" rowspan="1" colspan="1">{{entry.formatted_total_inc_discount}}</td>
                </tr>
                <tr bgcolor="#ffffff">
                  <td class="total-label-cell" rowspan="1" colspan="1">Total Price</td>
                  <td class="total-number-cell" rowspan="1" colspan="6">{{invoice.formatted_total}}</td>
                </tr>
                <tr bgcolor="#ffffff">
                  <td class="total-label-cell" rowspan="1" colspan="1">Amount Due</td>
                  <td class="total-number-cell" rowspan="1" colspan="6">{{invoice.formatted_total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan="1" colspan="2">
          <div class="invoice-notes" ng-bind-html="invoiceMessageHtml">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
