<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
  <h3 id="myModalLabel">{{invoiceTitle}}</h3>
</div>
<div class="modal-body">

  <div id="invoiceAlert" class="alert alert-danger" role="alert" ng-show="invoiceError != ''">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error</strong> {{invoiceError}}
  </div>

  <form class="form-horizontal" style="margin: 0px;">

    <div class="form-group">
      <label class="col-sm-2 control-label" for="invoiceId">Invoice ID</label>
      <div class="col-sm-10">
        <input class="form-control" id="invoiceId" ng-model="invoice.id" name="invoiceId" type="text" ng-disabled="invoiceNew != 1">
      </div>
    </div>

    <div class="form-group" ng-show="!invoiceNew">
      <label class="col-sm-2 control-label" for="invoiceActive">Active</label>
      <div class="col-sm-10">
        <input id="invoiceActive" ng-model="invoice.active" name="invoiceActive" type="checkbox">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="invoiceDateOpened">Date opened</label>
      <div class="col-sm-10">
        <p class="input-group">
          <input class="form-control" id="invoiceDateOpened" ng-model="invoice.date_opened" name="invoiceDateOpened" type="text" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="picker.options" is-open="picker.invoiceDateOpened.opened" ng-disabled="invoice.posted">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="picker.open('invoiceDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="invoiceCompany">Company</label>
      <div class="col-sm-10">
        <select class="form-control" data-ng-model="invoice.customer_id" data-ng-options="customer.id as customer.name for customer in customers" type="text" ng-disabled="invoice.posted"></select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="invoiceNotes">Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="invoiceNotes" ng-model="invoice.notes" name="invoiceNotes"></textarea>
      </div>
    </div>

  </form>
  
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()" aria-hidden="true">Close</button>
  <button class="btn btn-primary" ng-click="saveInvoice()">Save changes</button>
</div>


