<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Pay invoice</h3>
</div>
<div class="modal-body">

  <div id="invoicePayAlert" class="alert alert-danger" role="alert" ng-show="invoiceError != ''">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error</strong> {{invoiceError}}
  </div>

  <form class="form-horizontal" style="margin: 0px;">
    <fieldset>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="invoiceDatePaid">Date</label>
        <div class="col-sm-10">
          <p class="input-group">
            <input id="invoiceDatePaid" ng-model="invoice.date_paid" name="invoiceDatePaid" class="form-control" type="text" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="picker.options" is-open="picker.invoiceDatePaid.opened">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="picker.open('invoiceDatePaid')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="entryAccount">Post to account</label>
        <div class="col-sm-10">
          <select data-ng-model="invoice.post_account" data-ng-options="account.guid as account.name for account in accounts" class="form-control"></select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="entryAccount">Transfer account</label>
        <div class="col-sm-10">
          <select data-ng-model="invoice.transfer_account" data-ng-options="account.guid as account.name for account in transferAccounts" class="form-control"></select>
        </div>
      </div>

    </fieldset>
  </form>
  
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()" aria-hidden="true">Close</button>
  <button class="btn btn-primary" ng-click="payInvoice()">Save changes</button>
</div>
