<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Post invoice</h3>
</div>
<div class="modal-body">

<div id="invoicePostAlert" class="alert  alert-error" style="display: none;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error</strong> {{invoiceError}}
</div>

  <form class="form-horizontal" style="margin: 0px;">
    <fieldset>

      <div class="control-group">
        <label class="control-label" for="invoiceDatePosted">Date posted</label>
        <div class="controls">
          <input id="invoiceDatePosted" ng-model="invoice.date_posted" name="invoiceDatePosted" class="input-xlarge" type="text" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="picker.options" is-open="picker.invoiceDatePosted.opened" ng-click="picker.open('invoiceDatePosted')">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoiceDateDue">Date due</label>
        <div class="controls">
          <input id="invoiceDateDue" ng-model="invoice.date_due" name="invoiceDateDue" class="input-xlarge" type="text" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="picker.options" is-open="picker.invoiceDateDue.opened" ng-click="picker.open('invoiceDateDue')">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoiceAccount">Posted account</label>
        <div class="controls">
          <select data-ng-model="invoice.posted_account" data-ng-options="account.guid as account.name for account in accounts" class="input-xlarge"></select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoicePostedMemo">Memo</label>
        <div class="controls">
          <textarea id="invoicePostedMemo" ng-model="invoice.posted_memo" name="invoicePostedMemo" class="input-xlarge"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="invoiceAccumulatesSplits">Accumulates splits</label>
        <div class="controls">
          <input id="invoiceAccumulatesSplits" ng-model="invoice.posted_accumulatesplits" name="invoiceAccumulatesSplits" class="input-xlarge" type="checkbox">
        </div>
      </div>

    </fieldset>
  </form>
  
</div>
<div class="modal-footer">
  <button class="btn" ng-click="close()" aria-hidden="true">Close</button>
  <button class="btn btn-primary" ng-click="postInvoice()">Save changes</button>
</div>
