<div class="container">
  <h1>Accounts</h1>
  <div>
  	<div ng-show="!accounts" class="loader">Loading...</div>
    <table ng-show="accounts" class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Total</th>
        <th>Total GBP</th>
      </tr>
      <tr ng-repeat="account in accounts">
        <td style="padding-left: {{account.level*50}}px;"><a href="#/accounts/{{account.guid}}">{{account.name}}</a></td>
        <td>{{account.description}}</td>
        <td ng-style="account.balance < 0 ? { color: 'red' } : {}">{{account.formatted_balance}}</td>
        <td ng-style="account.balance_gbp < 0 ? { color: 'red' } : {}">{{account.formatted_balance_gbp}}</td>
      </tr>
    </table>
  </div>

</div> <!-- /container -->