<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
  <h3 id="myModalLabel">{{billTitle}}</h3>
</div>
<div class="modal-body">

  <div id="billAlert" class="alert alert-danger" role="alert" ng-show="billError != ''">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error</strong> {{billError}}
  </div>

  <form class="form-horizontal" style="margin: 0px;">

    <div class="form-group">
      <label class="col-sm-2 control-label" for="billId">Bill ID</label>
      <div class="col-sm-10">
        <input id="billId" ng-model="bill.id" name="billId" class="form-control" type="text" ng-disabled="billNew != 1">
      </div>
    </div>

    <div class="form-group" ng-show="!billNew">
      <label class="col-sm-2 control-label" for="billActive">Active</label>
      <div class="col-sm-10">
        <input id="billActive" ng-model="bill.active" name="billActive" type="checkbox">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="billDateOpened">Date opened</label>
      <div class="col-sm-10">
        <p class="input-group">
          <input id="billDateOpened" ng-model="bill.date_opened" name="billDateOpened" class="form-control" type="text" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="picker.options" is-open="picker.billDateOpened.opened" ng-disabled="bill.posted">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="picker.open('billDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="billVendor">Vendor</label>
      <div class="col-sm-10">
        <select id="billVendor" data-ng-model="bill.vendor_id" data-ng-options="vendor.id as vendor.name for vendor in vendors" class="form-control" ng-disabled="bill.posted"></select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="billNotes">Notes</label>
      <div class="col-sm-10">
        <textarea id="billNotes" ng-model="bill.notes" name="billNotes" class="form-control"></textarea>
      </div>
    </div>

  </form>
  
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()" aria-hidden="true">Close</button>
  <button class="btn btn-primary" ng-click="saveBill()">Save changes</button>
</div>
