<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Unpost bill</h3>
</div>
<div class="modal-body">

<div id="billUnpostAlert" class="alert alert-danger" role="alert" ng-show="billError != ''">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error</strong> {{billError}}
</div>

  <form class="form-horizontal" style="margin: 0px;">
    <fieldset>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="billResetTaxTables">Reset tax tables</label>
        <div class="col-sm-10">
          <input id="billResetTaxTables" ng-model="bill.reset_tax_tables" name="billResetTaxTables" type="checkbox">
        </div>
      </div>

    </fieldset>
  </form>
  
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()" aria-hidden="true">Close</button>
  <button class="btn btn-primary" ng-click="unpostBill()">Unpost</button>
</div>