<div class="container">
  <h1>{{customer.name}}</h1>
  <h2>Invoices</h2>

  <a style="margin-bottom: 25px;" role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Opened</th>
      <th>Due</th>
      <th>Posted</th>
      <th>Total</th>
      <th>Paid</th>
      <th></th>
    </tr>
    <tr ng-repeat="invoice in invoices">
      <td><a href="#/invoices/{{invoice.id}}">{{invoice.id}}</a></td>
      <td>{{invoice.formatted_date_opened}}</a></td>
      <td>{{invoice.formatted_date_due}}</td>
      <td>{{invoice.formatted_date_posted}}</td>
      <td>{{invoice.formatted_total}}</td>
      <td>
        <span ng-show="invoice.paid">Yes</span>
        <span ng-show="!invoice.paid">No</span>
      </td>
      <td>
        <span ng-switch on="invoice.posted">
            <span ng-switch-when="false">
                <a ng-click="emptyPostInvoice(invoice.id)">post</a>
            </span>
            <span ng-switch-when="true">
                <a ng-click="emptyUnpostInvoice(invoice.id)">unpost</a>
            </span>
        </span>
        <span ng-switch on="invoice.paid">
            <span ng-switch-when="false">
                <a ng-click="emptyPayInvoice(invoice.id)">pay</a>
            </span>
        </span>
      </td>
    </tr>
  </table>

  <a role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

  <p style="margin-top: 35px">Only active invoices are shown</p>

</div>

<div ng-include src="'partials/invoices/fragments/form.html'"></div>
<div ng-include src="'partials/invoices/fragments/postform.html'"></div>
<div ng-include src="'partials/invoices/fragments/unpostform.html'"></div>
<div ng-include src="'partials/invoices/fragments/payform.html'"></div>