<div class="container">
  <h1>{{customer.name}}</h1>
  <h2>Invoices</h2>

  <a style="margin-bottom: 25px;" role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

  <table class="table">
    <tr>
      <th ng-click="sortBy('id')">ID</th>
      <th ng-click="sortBy('date_opened')">Opened</th>
      <th ng-click="sortBy('date_due')">Due</th>
      <th ng-click="sortBy('date_posted')">Posted</th>
      <th ng-click="sortBy('total')">Total</th>
      <th ng-click="sortBy('paid')">Paid</th>
      <th></th>
    </tr>
    <tr ng-repeat="invoice in invoices | orderBy:orderProp:reverseProp">
      <td><a href="#/invoices/{{invoice.id}}">{{invoice.id}}</a></td>
      <td>{{invoice.formatted_date_opened}}</a></td>
      <td>{{invoice.formatted_date_due}}</td>
      <td>{{invoice.formatted_date_posted}}</td>
      <td>{{invoice.formatted_total}}</td>
      <td>
        <span ng-show="invoice.paid">Yes</span>
        <span ng-show="!invoice.paid">No</span>
      </td>
      <td>
        <span ng-switch on="invoice.posted">
            <span ng-switch-when="false">
                <a ng-click="emptyPostInvoice(invoice.id)">post</a>
            </span>
            <span ng-switch-when="true">
                <a ng-click="emptyUnpostInvoice(invoice.id)">unpost</a>
            </span>
        </span>
        <span ng-switch on="invoice.paid">
            <span ng-switch-when="false">
                <a ng-click="emptyPayInvoice(invoice.id)">pay</a>
            </span>
        </span>
      </td>
    </tr>
  </table>

  <a role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

  <p style="margin-top: 35px">Only active invoices are shown</p>

</div>
