<div class="container">
  <h1>{{customer.name}}</h1>
  <h2>Invoices</h2>

  <a style="margin-bottom: 25px;" role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Opened</th>
      <th>Due</th>
      <th>Posted</th>
      <th>Total</th>
      <th>Paid</th>
      <th></th>
    </tr>
    <tr ng-repeat="invoice in invoices">
      <td><a href="#/invoices/{{invoice.id}}">{{invoice.id}}</a></td>
      <td>{{invoice.date_opened}}</a></td>
      <td>{{invoice.date_due}}</td>
      <td>{{invoice.date_posted}}</td>
      <td>{{invoice.total}}</td>
      <td>
        <span ng-show="invoice.paid">Yes</span>
        <span ng-show="!invoice.paid">No</span>
      </td>
      <td>
        <span ng-switch on="invoice.date_posted">
            <span ng-switch-when="null">
                <a ng-click="emptyPostInvoice(invoice.id)">post</a>
            </span>
        </span>
        <span ng-switch on="invoice.paid">
            <span ng-switch-when="false">
                <a ng-click="emptyPayInvoice(invoice.id)">pay</a>
            </span>
        </span>
      </td>
    </tr>
  </table>

  <a role="button" class="btn" ng-click="emptyInvoice()">Add invoice</a>

  <p style="margin-top: 35px">Only active invoices are shown</p>

  <div id="invoiceForm" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">{{invoiceTitle}}</h3>
    </div>
    
    <div class="modal-body" style="max-height: 800px;">

      <div id="invoiceAlert" class="alert  alert-error" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error</strong> {{invoiceError}}
      </div>

      <form class="form-horizontal" style="margin: 0px;">
        <fieldset>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="invoiceId">Invoice ID</label>
            <div class="controls">
              <input id="invoiceId" ng-model="invoice.id" name="invoiceId" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceDateOpened">Date opened</label>
            <div class="controls">
              <input id="invoiceDateOpened" ng-model="invoice.date_opened" name="invoiceDateOpened" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceCompany">Company</label>
            <div class="controls">
              <select data-ng-model="invoice.customer_id" data-ng-options="customer.id as customer.name for customer in customers" class="input-xlarge"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceNotes">Notes</label>
            <div class="controls">
              <textarea id="invoiceNotes" ng-model="invoice.notes" name="invoiceNotes" class="input-xlarge"></textarea>
            </div>
          </div>

        </fieldset>
      </form>
      
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="saveInvoice()">Save changes</button>
    </div>
  </div>

  <div id="invoicePostForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Post invoice</h3>
    </div>
    <div class="modal-body" style="max-height: 800px;">

    <div id="invoicePostAlert" class="alert  alert-error" style="display: none;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error</strong> {{invoiceError}}
    </div>

      <form class="form-horizontal" style="margin: 0px;">
        <fieldset>

          <div class="control-group">
            <label class="control-label" for="invoiceDatePosted">Date posted</label>
            <div class="controls">
              <input id="invoiceDatePosted" ng-model="invoice.date_posted" name="invoiceDatePosted" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceDateDue">Date due</label>
            <div class="controls">
              <input id="invoiceDateDue" ng-model="invoice.date_due" name="invoiceDateDue" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceAccount">Posted account</label>
            <div class="controls">
              <select data-ng-model="invoice.posted_account" data-ng-options="account.guid as account.name for account in accounts" class="input-xlarge"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoicePostedMemo">Memo</label>
            <div class="controls">
              <textarea id="invoicePostedMemo" ng-model="invoice.posted_memo" name="invoicePostedMemo" class="input-xlarge"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="invoiceAccumulatesSplits">Accumulates splits</label>
            <div class="controls">
              <input id="invoiceAccumulatesSplits" ng-model="invoice.posted_accumulatesplits" name="invoiceAccumulatesSplits" class="input-xlarge" type="checkbox">
            </div>
          </div>

        </fieldset>
      </form>
      
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="postInvoice()">Save changes</button>
    </div>
  </div>

  <div id="invoicePayForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Pay invoice</h3>
    </div>
    <div class="modal-body" style="max-height: 800px;">

    <div id="invoicePayAlert" class="alert  alert-error" style="display: none;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error</strong> {{invoiceError}}
    </div>

      <form class="form-horizontal" style="margin: 0px;">
        <fieldset>

          <div class="control-group">
            <label class="control-label" for="invoiceDatePaid">Date</label>
            <div class="controls">
              <input id="invoiceDatePaid" ng-model="invoice.date_paid" name="invoiceDatePaid" class="input-xlarge" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="entryAccount">Post to account</label>
            <div class="controls">
              <select data-ng-model="invoice.post_account" data-ng-options="account.guid as account.name for account in accounts" class="input-xlarge"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="entryAccount">Transfer account</label>
            <div class="controls">
              <select data-ng-model="invoice.transfer_account" data-ng-options="account.guid as account.name for account in transferAccounts" class="input-xlarge"></select>
            </div>
          </div>

          <p>More bits here</p>

        </fieldset>
      </form>
      
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="payInvoice()">Save changes</button>
    </div>
  </div>

</div>