<div class="container">
  <h1>Customers</h1>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Search</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Company name, ID or contact" ng-model="query">
      </div>
    </div>
  </form>

  <a role="button" style="margin-bottom: 25px;" class="btn btn-primary" ng-click="emptyCustomer()">Add customer</a>

  <div>
    <div ng-show="!customers" class="loader">Loading...</div>
    <table ng-show="customers" class="table">
      <tr>
        <th ng-click="sortBy('id')">ID</th>
        <th ng-click="sortBy('name')">Name</th>
        <th ng-click="sortBy('address.name')">Contact</th>
        <th></th>
      </tr>
      <tr id="customer{{customer.id}}" ng-repeat="customer in customers | filter:query | orderBy:orderProp:reverseProp">
        <td><a href="#/customers/{{customer.id}}">{{customer.id}}</a></td>
        <td><a href="#/customers/{{customer.id}}">{{customer.name}}</a></td>
        <td>{{customer.address.name}}</td>
        <td><a ng-click="populateCustomer(customer.id)">edit</a></td>
      </tr>
    </table>

    <a role="button" style="margin-bottom: 25px;" class="btn btn-primary" ng-click="emptyCustomer()">Add customer</a>
     
  </div>

</div> <!-- /container -->
