<div class="container">
  <h1>Customers</h1>

  <form>
    <fieldset>
      <label>Search</label>
      <input type="text" placeholder="Company name, ID or contact" ng-model="query">
      <input type="hidden" value="id" ng-init="orderProp='id'" ng-model="orderProp">
    </fieldset>
  </form>

  <a role="button" style="margin-bottom: 25px;" class="btn" ng-click="emptyCustomer()">Add customer</a>

  <div>
    <div ng-show="!customers" class="loader">Loading...</div>
    <table ng-show="customers" class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Edit</th>
      </tr>
      <tr id="customer{{customer.id}}" ng-repeat="customer in customers | filter:query | orderBy:orderProp">
        <td><a href="#/customers/{{customer.id}}">{{customer.id}}</a></td>
        <td><a href="#/customers/{{customer.id}}">{{customer.name}}</a></td>
        <td>{{customer.address.name}}</td>
        <td><a ng-click="populateCustomer(customer.id)">edit</a></td>
      </tr>
    </table>

    <a role="button" style="margin-bottom: 25px;" class="btn" ng-click="emptyCustomer()">Add customer</a>
     
  </div>

</div> <!-- /container -->

<div ng-include src="'partials/customers/fragments/form.html'"></div>