<div class="container">

  <h1>Bill {{bill.id}}</h1>

  <form class="form-horizontal" style="margin: 0px;">
    <fieldset>

      <div class="control-group">
        <label class="control-label" for="billID">Bill ID</label>
        <div class="controls">
          <input id="billID" ng-model="bill.id" name="billID" class="input-xlarge" type="text" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="billActive">Active</label>
        <div class="controls">
          <input id="billActive" ng-model="bill.active" name="billActive" class="input-xlarge" type="checkbox" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="bill.DateOpened">Date opened</label>
        <div class="controls">
          <input id="bill.DateOpened" ng-model="bill.date_opened" name="bill.DateOpened" class="input-xlarge" type="text" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="billCompany">Company</label>
        <div class="controls">
          <select data-ng-model="bill.owner.id" data-ng-options="vendor.id as vendor.name for vendor in vendors" class="input-xlarge" disabled="disabled"></select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="billNotes">Notes</label>
        <div class="controls">
          <textarea id="billNotes" ng-model="bill.notes" name="billNotes" class="input-xlarge" disabled="disabled"></textarea>
        </div>
      </div>

    </fieldset>
  </form>

  <a role="button" class="btn" ng-click="populateBill(bill.id)" ng-show="!bill.posted">Edit bill</a>
  <a role="button" class="btn" ng-click="emptyPostBill(bill.id)" ng-show="!bill.posted">Post bill</a>
  <a role="button" class="btn" ng-click="emptyPayBill(bill.id)" ng-show="bill.posted && !bill.paid">Pay bill</a>

  <h2>Bill entries</h2>

  <table class="table">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Income account</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Subtotal</th>
      <th></th>
      <th></th>
    </tr>
    <tr ng-repeat="entry in bill.entries">
      <td>{{entry.formatted_date}}</td>
      <td>{{entry.description}}</td>
      <td>{{entry.bill_account.name}}</td>
      <td>{{entry.quantity}}</td>
      <td>{{entry.formatted_bill_price}}</td>
      <td>{{entry.formatted_total_inc_discount}}</td>
      <td><a ng-click="populateEntry(entry.guid)" ng-show="!bill.posted">edit</a></td>
      <td><a ng-click="deleteEntry(entry.guid)" ng-show="!bill.posted">delete</a></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Tax</td>
      <td>{{bill.formatted_tax}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total</td>
      <td>{{bill.formatted_total}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <a role="button" style="margin-bottom: 25px;" class="btn" ng-show="!bill.posted" ng-click="emptyEntry()">Add entry</a>

</div>
