<div class="container">
  <h1>Bills</h1>

  <form>
    <fieldset>
      <label>Search</label>
      <input type="text" placeholder="Bill ID or vendor" ng-model="query">
      <!-- <input type="hidden" value="id" ng-init="orderProp='id'" ng-model="orderProp"> -->

      <label>Date type</label>
      <select ng-model="date_type" ng-change="change()">
        <option value="opened">Date opened</option>
        <option value="due">Date due</option>
        <option value="posted">Date posted</option>
      </select>

      <label>Date from</label>
      <input id="billDateFrom" type="text" placeholder="" ng-model="date_from" ng-change="change()">

      <label>Date to</label>
      <input id="billDateTo" type="text" placeholder="" ng-model="date_to" ng-change="change()">

      <label>Paid</label>
      <select ng-model="is_paid" ng-change="change()">
        <option value=""></option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>

      <label>Active</label>
      <select ng-model="is_active" ng-change="change()">
        <option value=""></option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>

    </fieldset>
  </form>

  <a style="margin-bottom: 25px;" role="button" class="btn" ng-click="emptyBill()">Add bill</a>

  <div>
    <div ng-show="!bills" class="loader">Loading...</div>
    <table ng-show="bills" class="table">
      <tr>
        <th>ID</th>
        <th>Opened</th>
        <th>Due</th>
        <th>Vendor</th>
        <th>Posted</th>
        <th>Total</th>
        <th>Paid</th>
      </tr>
      <tr ng-repeat="bill in bills | filter:query | orderBy:orderProp">
        <td><a href="#/bills/{{bill.id}}">{{bill.id}}</a></td>
        <td>{{bill.formatted_date_opened}}</a></td>
        <td>{{bill.formatted_date_due}}</td>
        <td><a href="#/customers/{{bill.owner.id}}">{{bill.owner.name}}</a></td>
        <td>{{bill.formatted_date_posted}}</td>
        <td>{{bill.formatted_total}}</td>
        <td>
          <span ng-show="bill.paid">Yes</span>
          <span ng-show="!bill.paid">No</span>
        </td>
      </tr>
    </table>
  </div>

  <a style="margin-bottom: 25px;" role="button" class="btn" ng-click="emptyBill()">Add bill</a>

  <!-- copied from vendors/details.html -->
  <div ng-include src="'partials/bills/fragments/form.html'"></div>
  <div ng-include src="'partials/bills/fragments/postform.html'"></div>
  <div ng-include src="'partials/bills/fragments/payform.html'"></div>

</div>
