<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
  <h3 id="myModalLabel">{{customerTitle}}</h3>
</div>
<div class="modal-body">

<div id="customerAlert" class="alert alert-danger" role="alert" style="display: none;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error</strong> {{customerError}}
</div>

  <form class="form-horizontal" style="margin: 0px;">

    <div class="form-group">
      <label class="col-sm-2 control-label" for="customerId">Customer number</label>
      <div class="col-sm-10">
        <input id="customerId" ng-model="customer.id" name="customerId" class="form-control input-xlarge" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="customerName">Company name</label>
      <div class="col-sm-10">
        <input id="customerName" ng-model="customer.name" name="customerName" class="form-control input-xlarge" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="customerCurrency">Currency</label>
      <div class="col-sm-10">
        <select id="customerCurrency" data-ng-model="customer.currency" data-ng-options="currency.key as currency.value for currency in currencys" class="form-control input-xlarge"></select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="customerContact">Name</label>
      <div class="col-sm-10">
        <input id="customerContact" ng-model="customer.address.name" name="customerContact" class="form-control input-xlarge" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input id="customerAddressLine1" ng-model="customer.address.line_1" name="customerAddressLine1" class="form-control input-xlarge" type="text">
        <input id="customerAddressLine2" ng-model="customer.address.line_2" name="customerAddressLine2" class="form-control input-xlarge" type="text">
        <input id="customerAddressLine3" ng-model="customer.address.line_3" name="customerAddressLine3" class="form-control input-xlarge" type="text">
        <input id="customerAddressLine4" ng-model="customer.address.line_4" name="customerAddressLine4" class="form-control input-xlarge" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="customerPhone">Phone</label>
      <div class="col-sm-10">
        <input id="customerPhone" ng-model="customer.address.phone" name="customerPhone" class="form-control input-xlarge" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="customerFax">Fax</label>
      <div class="col-sm-10">
        <input id="customerFax" ng-model="customer.address.fax" name="customerFax" class="form-control input-xlarge" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="customerEmail">Email</label>
      <div class="col-sm-10">
        <input id="customerEmail" ng-model="customer.address.email" name="customerEmail" class="form-control input-xlarge" type="text">
      </div>
    </div>

  </form>
  
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()" aria-hidden="true">Close</button>
  <button class="btn btn-primary" ng-click="saveCustomer()">Save changes</button>
</div>