[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.navbar .navbar-right {
	float: right;
}

.select2-container {
	padding: 0px;
}

.select2-container .select2-choice {
	height: 33px;
	padding-top: 3px;
}